.words {
  padding-top: 2%;
  padding-bottom: 2%; 
  white-space: nowrap;
  display: inline-flex; /* ensures the box hugs content */
  transition: --width 2s ease;
  font-size: clamp(2rem, 3vw, 3rem); /* min, preferred, max */

}
.words-wrapper {

  height: 50px;
  display: flex;
  font-size: 40px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  align-items: center; 
  padding: 0.5rem 1rem; /* even padding */
  justify-content: center;  
}
.words-wrapper .css {
  color: #2ec4b6;
}
.words-wrapper .css .words  {
  display: flex;
  max-width: 100%;
  align-items: center;
}

.words-wrapper .words {
  height: 50px;
  line-height: 50px;
  position: relative;
  transition: all 1s;
  border-radius: 6px;
  width: var(--width);
  display: inline-block;
  vertical-align: middle;
  box-sizing: content-box;
  color: var(--color, #fff);
  background: var(--color-bg, #054056);
}
.words-wrapper .words span {
  left: 50%;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -100%);
  transition: transform 0.7s, opacity 0.25s 0.25s;
}
.words-wrapper .words span.next {
  transform: translate(-50%, 100%);
}
.words-wrapper .words span.current {
  opacity: 1;
  transform: translate(-50%, 0);

}
.current {
  font-size: clamp(2rem, 3vw, 3rem); /* min, preferred, max */
}

.header-container {
  margin: 0 auto; 
}
/* 
@media (max-width: 700px) {
  .words-wrapper .words {
    width: var(--width-mobile) !important;
  }
}
*/
