.header-container {
  margin: 0 auto;
}

.words-wrapper {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.words-wrapper .css {
  color: #2ec4b6;
}
.words .css .words-wrapper {
  display: flex;
  align-items: center;

}

.words {
  transition: --width 2s ease;
  white-space: nowrap;
  padding-bottom: 3px;
  display: inline-flex; /* ensures the box hugs content */
  align-items: baseline; 
  height: auto; 
}
.words-wrapper .words {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: var(--width);
  height: 50px;
  border-radius: 6px;
  color: var(--color, #fff);
  background: var(--color-bg, #054056);
  box-sizing: content-box;
  transition: all 1s;
}
.words-wrapper .words span {
  position: absolute;

  left: 50%;
  opacity: 0;
  transform: translate(-50%, -100%);
  transition: transform 0.7s, opacity 0.25s 0.25s;
}
.words-wrapper .words span.current {
  opacity: 1;
  padding-bottom: 0px;
  transform: translate(-50%, 0);

}
.words-wrapper .words span.next {
  transform: translate(-50%, 100%);
}
@media (max-width: 700px) {
  .words-wrapper .words {
    width: var(--width-mobile) !important;
  }
}

